<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password reset request</h1>
    <p>
      This is your requested token: 

      <h2><%= @token %></h2>
    </p>

    <H2>
      <a href="http://localhost:8080/#/reset">Click here to reset your password</a>
    </H2>
  </body>
</html>